*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  align-items: flex-start;
  padding: 10px 30px;
  background-color: #8d99ae;
}

.products {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.products_choice {
  display: flex;
  justify-content: center;
  align-items: center;
}
.products_item {
  display: grid;
  grid-gap: 10px;
  border-radius: 10px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #fdfdfd;
}
.products_pict {
  width: 50%;
  display: block;
  margin: auto;
}
.products_price {
  color: #f10707;
  font-weight: 700;
}
.products_button_add {
  margin-left: 5px;
}

.portray_button {
  border: transparent;
  padding: 5px 10px;
  background: #018d01;
  color: #fdfdfd;
  border-radius: 6px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}

.cart {
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
  margin: 0 0 0 20px;
  padding: 10px;
  background-color: #fdfdfd;
}
.cart_title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  border-bottom: 2px solid cadetblue;
  padding-bottom: 5px;
}
.cart_item {
  border-bottom: 2px solid cadetblue;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.phone_price {
  color: #f10707;
  font-weight: 700;
}

.phone_quantity_amount {
  font-weight: 700;
  padding-left: 3px;
}

.cart_button_remove_item, .cart_products_button_add_item, .cart_remove_items_all {
  margin: 5px 2px;
  display: block;
}

.cart_total {
  font-weight: 700;
  background: blue;
  display: inline-block;
  color: #fdfdfd;
  padding: 5px;
  border-radius: 10px;
  margin-top: 5px;
  float: right;
}
.cart_total::after {
  content: "";
  clear: both;
  display: block;
}
.cart_total_sum_currency {
  margin-left: 3px;
}

.cart_block_of_buttons {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
